version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: taxi-backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: taxi-frontend
    ports:
      - "4173:4173"
    environment:
      - VITE_ALLOWED_HOSTS=progbel.ru,www.progbel.ru,localhost
    restart: unless-stopped
    depends_on:
      - backend

  nginx:
    build:
      context: ./nginx
    container_name: taxi-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - frontend
      - backend
    restart: unless-stopped
